# lombok 配置文件支持分层，在根目录配置的的配置文件对全局生效，如果某个子包中也有配置文件，则子包的类优先以子包中的配置为准
# 该配置声明这个配置文件是一个根配置文件，他会从该配置文件所在的目录开始扫描
config.stopBubbling=true
# 全局配置 equalsAndHashCode 的 callSuper 属性为true，这样就不用每个类都要去写了
lombok.equalsAndHashCode.callSuper=call
# 全局配置 tostring 的 callSuper 属性为true，这样就不用每个类都要去写了
lombok.tostring.callsuper=call